* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.calculator {
  max-width: 400px;;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 10px solid #333;
  border-bottom: 10px solid #333;
  border-left: 10px solid rgb(90, 89, 89);
  border-top: 10px solid rgb(90, 89, 89);
  border-radius: 5px;
  background-color: rgb(64, 63, 63);
 
  color:antiquewhite;
}

.display {
  border-radius: 30px;;
}

.answer,
.running-sum {
  margin: 0px 5%;
  background-color: rgb(214, 210, 210);
  height:5vh;
  border-right:3px solid #222;
  color:#222;
  padding:0px 10px;
  text-align: right;
}
.running-sum {
  margin-top:20px;
  
}
.answer {margin-bottom:10px; border-bottom:3px solid #222;font-size:1.6em;line-height: 0.4;}


.buttons {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}

#missing,
#small {
  width:10%;
  font-size: 0.75em;
  border-radius: 5px;
  margin: 2% 3%;
  aspect-ratio: 2/1;
  border: 2px outset #333;
  background-color: #333;
  box-shadow: 1px 2px 1px 2px rgba(27, 26, 26, 0.2);
}

#missing {
  border: none;
  background-color: rgb(64, 63, 63);
  box-shadow: none;
}
#normal-red,
#normal {
  border-radius: 5px;
  margin: 3% 1.5%;
  padding:2% 0px;
  width:14%;
  aspect-ratio: 3/2;
  border: 2px outset #333;
  border-bottom-left-radius: 15px;;
  border-bottom-right-radius: 15px;;
  box-shadow: 1px 2px 1px 2px rgb(55, 54, 54)
}
#normal-red {
  background-color: rgb(155, 84, 84);
}

#small:hover,
#normal-red:hover,
#normal:hover {
  filter: brightness(2) invert(80%)
}